<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Alumno</title>
</head>
<body>
    <h1>Editar Alumno</h1>
    <form action="{{ url_for('editar_alumno', alumno_id=alumno.idAlumno) }}" method="post">
        <label for="nombre_completo">Nombre Completo:</label>
        <input type="text" id="nombre_completo" name="nombre_completo" value="{{ alumno.Nombre_completo }}" >
        <!-- Otros campos del alumno y de la solicitud aquí -->
        <button type="submit">Guardar Cambios</button>
    </form>

    <form action="{{ url_for('eliminar_alumno', alumno_id=alumno.idAlumno) }}" method="post">
        <button type="submit">Eliminar Alumno</button>
    </form>
</body>
</html>
