{% extends "base.html" %}

{% block title %}Buscar Estudiante por Nombre{% endblock %}

{% block content %}
<div id="content-container">
    <link rel="stylesheet" href="{{ url_for('static', filename='Buscar_nombre/buscarnomb.css') }}" >
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;700&display=swap" rel="stylesheet" id="google-fonts">
    <!-- Incluye SweetAlert -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11" id="sweet-alert-js"></script>

    <h1 id="buscar-titulo">Buscar Estudiante por Nombre</h1>
    <form method="post" onsubmit="return validateForm()" id="formulario-busqueda">
        
        <input type="text" id="nombre_buscar" name="nombre_buscar" class="styled-input" placeholder="Nombre Completo..." id="nombre-buscar-input">
        <button type="submit" class="styled-button" id="buscar-button">Buscar</button>
    </form>
</div>

<script>
    function validateForm() {
        var nombre = document.getElementById("nombre_buscar").value;
        if (nombre == "") {
            Swal.fire({
                icon: 'error',
                title: 'Campo vacío',
                text: 'Por favor ingrese un nombre para buscar.'
            });
            return false;
        }
        return true;
    }
</script>
{% endblock %}
