/* Contenedor padre */
.contenedor {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Div de párrafos */
  .parrafos {
    flex: 1;
    margin-right: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  /* Div de ubicación */
  .ubicacion {
    flex: 1;
    text-align: center;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  /* Media queries para pantallas pequeñas */
  @media (max-width: 768px) {
    .contenedor {
      flex-direction: column;
    }
  
    .parrafos, .ubicacion {
      margin-bottom: 20px;
    }
  }
  